{% extends "Teacher/base.html" %}
{% block content %}
<form action="{% url 'Teacher:edit-questions' quiz.id %}" method="post">
    <ol>
        {% for question in quiz.questions.all %}
            <li>
                <div id="question_{{question.id}}">
                        {% csrf_token %}
                        <h3>{{question.question_text}}</h3>
                        <ul>
                            {% for choice in question.answers.all %}
                                <li><input name="question_{{question.id}}" id="choice_{{choice.id}}" type="radio" {% if choice.is_answer %}checked{% endif %}><label for="choice_{{choice.id}}">{{choice.choice_text}}</label></li>
                            {% endfor %}
                        </ul>
                </div>
            </li>
        {% endfor %}
    </ol>
<input type="submit" value="Edit">
</form>
{% endblock %}