{% extends "Student/base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">{{ quiz.title }}</h2>
        <form action="{% url 'Student:calculate_result' quiz.id %}" method="post">
            {% csrf_token %}
            
            {% for question in quiz.questions.all %}
                <!-- Question Section -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ forloop.counter }}. {{ question.question_text }}</h5>
                        <ul class="list-group-unstyled mt-3">
                            {% for choice in question.answers.all %}
                            <li class="list-group-item border-0">
                                <input class="btn-check" type="radio" name="question_{{ question.id }}" id="choice_{{ choice.id }}" value="{{ choice.id }}" autocomplete="off"> 
                                <label class="btn btn-outline-primary col-form-label-lg w-25" for="choice_{{choice.id}}">{{ choice.choice_text }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Submit Quiz</button>
            </div>
        </form>
    </div>
{% endblock %}