<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% if quizzes %}
    <ul>
        {% for quiz in quizzes %}
        <li>
            <h1>{{quiz.title}}</h1>
            <p>{{quiz.description}}</p>
            <legend>{{quiz.created_at}}</legend>
            <a href="{% url 'MCQ:quiz' quiz.id %}">Take Quiz</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>